{% extends "user_management/base.html" %}

{% block content %}
<h2>All Projects</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Topic</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date }}</td>
            <td>{{ project.topic }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No projects available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
