{% load static %}
<style>
  #sidebar {
    position: sticky;
    top: 0;
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
</style>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="" class="nav-link">
          <div class="nav-profile-image">
            {% if request.user.profile_pic %}
          <img src="{{ request.user.profile_pic.url }}" alt="profile" />
        {% else %}
          <img src="{% static 'images/faces/face1.jpg' %}" alt="default profile" />
        {% endif %}
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">{% if request.user.is_authenticated %}
                <p>Welcome, {{ request.user.username }}</p>
                <p>Attended {{ request.user.college_name }}</p>
                
                {% endif %}
            </span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      {% if not request.user.is_superuser %}
     

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Attendance</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic" style="">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mark_attendance' %}">
                <span class="menu-title">Mark Attendance</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_attendance' %}">
                <span class="menu-title">View Attendance</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_posts' %}">
          <span class="menu-title">My Post</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_projects' %}">
          <span class="menu-title">Projects List</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_videos' %}">
          <span class="menu-title">View Videos</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#ui-resume" aria-expanded="false" aria-controls="ui-resume">
          <span class="menu-title">Resume</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-resume" style="">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_resume' %}">
                <span class="menu-title">Create Resume</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myresume' %}">
                <span class="menu-title">View/Download Resume</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'send_message' %}">
          <span class="menu-title">HelpDesk</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      
      
      
      {% endif %}
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_video' %}">
          <span class="menu-title">Upload Video</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_project' %}">
          <span class="menu-title">Create Project</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_users_and_area_of_interest' %}">
          <span class="menu-title">All User</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_send_message_to_user' %}">
          <span class="menu-title">admin_send_message_to_user</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'send_notification' %}">
          <span class="menu-title">send_notification</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_view_videos' %}">
          <span class="menu-title">View Videos</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_list_projects' %}">
          <span class="menu-title">All Project</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li> 
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_blog_post' %}">
          <span class="menu-title">Create Blog Post</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>


      

      <li class="nav-item">
        <a class="nav-link" href="{% url 'attendance_report' %}">
          <span class="menu-title">Attendance Report</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>